<div class="grad">
  <div class="ellipse-left">  <img src="assets/Ellipser.svg" alt="Illustration"></div>
  <div class="ellipse-right">  <img src="assets/Ellipse.svg" alt="Illustration"></div>
  <div class=""></div>
  <div class="app-container">
    <div class="app-left">
      <img src="assets/Hero-image.svg" alt="Illustration">
      <img src="assets/logo.svg" alt="Illustration" class="logo">
    </div>
    <div class="app-right">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
